@import "reset.css";

body {
    display: flex;
    color: rgb(245,245,245);
    background-color: rgb(25,25,25);
    padding: 20px;
    padding-top: 10px;
}

h1 {
    font-size: 25px;
}

#loadingMessage {
    background-color: rgb(35,35,35);
    width: 500px;
    height: 500px;
    text-align: center;
    position: relative;
    margin: auto;
}